@import url(./node_modules/bootstrap/scss/bootstrap.scss);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Josefin+Sans&family=Poppins:wght@300&family=Roboto:wght@300&display=swap");
@import url(./node_modules/bootstrap/scss/bootstrap.scss);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Josefin+Sans&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
html { 
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
}
html::-webkit-scrollbar {
    display: none;
}
body {
    width: 100%;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    display: block;
}


.wrapper{
    margin: 0;
    padding: 0;
    width:100vw;
    height:100vh;
    background-color: #151719;
    
}

.header{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-bottom: 7px;
    
}

.main{
 width: 100%;
 height: 100%;
 display: flex;
 


}


.main h1{
color: #fff;
font-size: 3em;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}

h1{
  color: #fff;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.main h2{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
 #full-t{
  color: aqua;
}


.typing{
  color : aqua;
}



.article{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2em;
 
}




.form{
  width: 100vw;

  display: flex;

  justify-content: center;
  align-items: center;
  color: white;
  font-family:  'Poppins';
  padding-right: 2em;
  padding-left: 3em;
}

#formulario{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}



#formulario p{
  font-size: 12px;
}






.btn{
    width: 30vw;
    border:none;

   border-radius: 50px;
   margin-left: 10em;
    background-color: aqua;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
 
    
}



#formulario .btn:focus, .btn:active {
    outline: none;
    box-shadow: none ;
}

#formulario input:focus, input:active{
    border:none;
    outline: none;
    box-shadow: none;
}

.article p , span{
  color: #fff;
}



#formulario .btn{
    border: none;
    background-color: aqua;
   
    color: black;
    outline: 1px dotted;
    outline: 5px auto -webkit-focusring-color;
}


#formulario .btn:hover{
background: none;
color:  aqua;
}

#alerta1, #alerta2, #alerta3,#alerta4,#alerta5{
    visibility: hidden;
    opacity: 0;
    color: red;
}
#confirmacion{
    font-size:  5px;
     padding: 1em;
    text-align: center;
    color: green;
}


.title{
  margin-left: 2em;
  width: 100%;
  height: 200px;
 margin-left: 4em ;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.title h1{
  color:  black;
font-weight: bold;
}

.división{
  width: 60px;
  height: 4px;
  margin-left:2px;
  background-color: aqua; 

}

.premios{

 width: 100vw;
  
  margin: 0;
  padding: 0;
}

.title{
  width: 100%;

  margin:0;
}
.title h1{
  width:100%;

  padding-left: 2em;
}

.premios-dv{
  padding-left: 5em;
}



.footer{
  width: 100%;

  background-color:aqua;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;




  padding-top: 40px;
  color: rgb(0, 0, 0);
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h2{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}
.redes{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.redes li{
  margin: 0 10px;
}
.redes a{
  text-decoration: none;
  color: black;
}
.redes a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.redes a:hover i{
  color: rgb(255, 254, 254);
}

.footer-derechos{
  background: #151719;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-derechos p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color:#fff;

}
.span-f{
  color: black;
}
.footer-derechos span{
 
  
  font-weight: 200;
  color: aqua;
}


.cards{
  width: 100%;
  padding-bottom: 5em;
 
  display: flex;
  justify-content: space-around;
}
.telefono, .laptop, .tablet {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.tablet{
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.card{
  height: 350px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1080px) {
  
 .tiltle{
  margin-left: 6em;
 }

  .cards{
    width: 100%;

    flex-wrap: wrap;
    
    align-items: space-around;
  }

  .card{
    margin-bottom: 2em;
  }

  #full-t{
    color: aqua;
    font-size: 30px;
  }

 .article h1{
    font-size: 30px;

  }

 .article h2{
    font-size: 30px;
  }

  .article #typed-strings{
    font-size: 30px
  }

  .article p{
    font-size: 15px;
  }

  .boton{
    border: 1px solid red;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 2em;
  }


  #formulario label{
    font-size: 15px;
  }


  .premios-dv{
    padding-left: 4em;
  }

  .btn{
    width: 30vw;
    border:none;

   border-radius: 50px;
   margin-left: 1.5em;
    background-color: aqua;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
 
    
}


}




.nombre{
  margin: 0;
  padding: 0;
  width: 100%;
  

}










 



  



/* <footer class="footer">
      <div class="footer-content">
        <h2>F<span class="span-f">C</span></h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo iste corrupti doloribus odio sed!</p>
          <ul class="redes">
              <li><a target="_blank" href="https://api.whatsapp.com/send?phone=1132309376&text=Hola,%20somos%20FC.%20En%20que%20podemos%20ayudarlo?" ><i class="fab fa-whatsapp"  role="img" aria-label="Whatsapp"></i></a></li>
              <li><a target="_blank" href="https://www.linkedin.com/feed/"><i  class="fab fa-linkedin" role="img" aria-label="Likedin"></i></a></li>
              <li><a target="_blank" href="https://www.instagram.com/?hl=es"><i  class="fab fa-instagram" role="img" aria-label="Instagram"></i></a></li>
              <li><a target="_blank" href="https://github.com/" ><i  class="fab fa-github"  role="img" aria-label="GitHub"></i></a></li>
              
          </ul>
      </div>
      <div class="footer-derechos">
          <p>copyright 2021 FC. designed by <span>Facundo Carollo</span></p>
      </div>
     </footer>*/